<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>zhipong的社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="../static/bootstrap-reboot.min.css"/>
    <script src="../static/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="../static/js/bootstrap.bundle.min.js" type="application/javascript"></script>

</head>
<body>

</body>
</html>